<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOlqFU4HIWkQRmwZCMBmi-dH9MmFK5WIc</string>
	<key>GCM_SENDER_ID</key>
	<string>594888089154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userRegistration</string>
	<key>PROJECT_ID</key>
	<string>user-registration-example</string>
	<key>STORAGE_BUCKET</key>
	<string>user-registration-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594888089154:ios:88fd55f2dc832c8cdcd7db</string>
</dict>
</plist>